<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>即将返回登录页面</title>
		<link rel="icon" href="/sms/img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/sms/css/bootstrap.min.css" />
	</head>
	<body style="background-color: #7bbfea;">
		<h1 class="text-center text-danger" style="margin-top: 50px">
			您尚未登录或登录认证已过期，请重新登录！<br/>
			<label>5</label>秒后自动跳转至登录页面！<br/>
			<a style="color:#F77A00" href="/sms/view/login.jsp">懒得等了？点此处可直接跳转至登录页面！</a>
		</h1>
	</body>
	<script src="/sms/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/sms/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var time=$('label').html();
		setInterval(function(){
			time--;
			$('label').html(time);
		},1000);
		setTimeout(function(){
			location.href="/sms/view/login.jsp";
		},time*1000);
	</script>
</html>
